.notes-table__row {
  margin: 0 0 8px;
}

.row {
  max-height: 70px;
  font-weight: 500;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  background-color: #e4eff6;
}