.cell {
  font-weight: 700;
  padding: 10px;
  width: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__title, &__text {
    font-size: 16px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 95%;
  }

  &--full-size {
    overflow: visible;
  }

  &--full-size &__title {
    overflow: visible;
  }

  &--is-centered {
    justify-content: center;
  }

  &--with-icons {
    min-width: 100px;
    width: max-content;
    justify-content: flex-end;
  }
  
  &--is-darken {
    color: #333;
  }

  &--is-big {
    width: 210px;
  }

  &__icon-wrapper {
    margin: 0 15px 0 0;
  }
}