.icon-wrapper {
  padding: 8px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
}

.icon {
  cursor: auto;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0;
  width: 23px;
  height: 23px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &:not(:last-child) {
    margin: 0 5px 0 0;
  }

  &--is-big {
    width: 25px;
    height: 25px;
  }

  &--archive-white {
    cursor: pointer;
    background-image: url("../assets/icons/archive-box-fill-svgrepo-com-white.svg");
  }

  &--delete-white {
    background-image: url("../assets/icons/delete-svgrepo-com-white.svg");
  }

  &--archive {
    cursor: pointer;
    background-image: url("../assets/icons/archive-box-fill-svgrepo-com.svg");
  }

  &--unarchive {
    cursor: pointer;
    background-image: url("../assets/icons/inbox-unarchive-fill-svgrepo-com.svg");
  }

  &--delete {
    cursor: pointer;
    background-image: url("../assets/icons/delete-svgrepo-com.svg");
  }
  
  &--edit {
    cursor: pointer;
    background-image: url("../assets/icons/pen.svg");
  }

  &--task {
    background-image: url("../assets/icons/cart-svgrepo-com.svg");
  }

  &--idea {
    background-image: url("../assets/icons/idea-svgrepo-com.svg");
  }

  &--random.thought {
    background-image: url("../assets/icons/human-head-silhouette-with-cogwheels-svgrepo-com.svg");
  }

  &--quote {
    background-image: url("../assets/icons/quote-right-svgrepo-com.svg");
  }
}